<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hs.ssm.blog.mapper.IndexshareMapper" >
  <select id="getIndexshareList" resultType="hs.ssm.blog.pojo.Indexshare">
    SELECT * FROM indexshare
  </select>

  <select id="getIndexshareById" parameterType="java.lang.Integer" resultType="hs.ssm.blog.pojo.Indexshare">
    SELECT * FROM indexshare WHERE id = #{id}
  </select>

  <insert id="addIndexshare" parameterType="hs.ssm.blog.pojo.Indexshare">
    INSERT INTO indexshare(title,image,createtime,des,article,pageview,click,cid) VALUES(#{title},#{image},#{createtime},#{des},
    #{article},#{pageview},#{click},#{cid})
  </insert>

  <delete id="deleteIndexshare" parameterType="java.lang.Integer">
    DELETE FROM indexshare WHERE id=#{id}
  </delete>

  <update id="updateIndexshare" parameterType="hs.ssm.blog.pojo.Indexshare">
    UPDATE indexshare set title=#{title},image=#{image},createtime=#{createtime},des=#{des},article=#{article},cid=#{cid} WHERE id=#{id}
  </update>

  <update id="updateIndexsharePageview" parameterType="java.lang.Integer">
    UPDATE indexshare SET pageview = pageview + 1 WHERE id=#{id}
  </update>

  <update id="updateIndexshareClick" parameterType="java.lang.Integer">
    UPDATE indexshare SET click = click + 1 WHERE id=#{id}
  </update>
</mapper>